*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-color: #FAFAFA;
}
nav{
	width:100%;
	line-height: 60px;
	background-color: #DB4C3F;
}
.cen{
	width:700px;
	margin:0 auto;
	font:bold 20px/3  '微软雅黑';
	color:white;
}
.main,.card,.alt,.foot{
	width:700px;
	margin:0 auto;
}
.main h1{
	font-size: 20px;
	line-height: 50px;
}
.main input{
	width:100%;
	line-height: 30px;
}
.card{
	line-height: 30px;
	margin-top: 20px;
}
.card:after,.foot ul li:after{
	display: block;
	content: '';
	clear:both;
}
.card .left{
	color:#DB4C3F;
	float:left;
}
.card .right{
	width:300px;
	float:right;
	display: flex;
	justify-content: space-between;
}
.card .right div.active{
	border:1px solid #ccc;
	padding:0px 10px;
}
div.alt{
	line-height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	font-size:13px;
	color:#666;
}
.foot ul li{
	background-color: white;
	position:relative;
}
.foot ul li input{
	width:30px;
	height:30px;
	visibility: hidden;
	position: absolute;
	left:0;
	top:5px;
	z-index: 20;
}
.foot ul li input:checked + label{
	background: pink;
}
.foot ul li label{
	position: absolute;
	z-index: 10;
	content: '';
	display: block;
	left:0px;
	top:5px;
	width:30px;
	border:1px solid #ccc;
	border-radius: 15px;
	height:30px;
}

.foot ul li p:first-of-type{
	float:left;
	line-height: 40px;
	margin-left: 60px;
}
.foot ul li p:first-of-type.active{
	text-decoration: line-through;
	color:#ccc;
}
.foot ul li:hover p:last-of-type{
	display: block;

}
.foot ul li p:last-of-type{
	float:right;
	line-height: 40px;
	color:#DB4C3F;
	display: none;
	cursor: pointer;
	padding-right: 30px;
}