<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../node_modules/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="1.css">
</head>
<body>
	<nav>
		<div class="cen">任务计划列表</div>
	</nav>
	<div class="container">
		<div class="main">
			<h1>添加任务：</h1>
			<!--给事件添加修饰符  （enter == 13）-->
			<input 
			type="text" 
			placeholder="添加任务，回车执行"
			v-on:keyup.13='addTodo' 
			v-model="todo" 
			/>
		</div>
		<div class="card">
			<div class="left"><p>一个任务未完成</p></div>
			<div class="right">
				<div class="active">所有任务</div>
				<div>未完成的任务</div>
				<div>完成的任务</div>
			</div>
		</div>
		<div class="alt"><span>还没有添加任何任务</span></div>
		<div class="foot">
			<ul>
				<li v-for="item in content" class="mylist">
					<input type="checkbox" id="myinput">
					<label for="myinput"></label>
					<p>{{ item.title }}</p>
					<p>X</p>
				</li>
			</ul>
		</div>
	</div>
	<script src="./1.js"></script>	
</body>
</html>