<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../node_modules/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="1.css">
</head>
<body>
	<nav>
		<div class="cen">任务计划列表</div>
	</nav>
	<div class="container">
		<div class="main">
			<h1>添加任务：</h1>
			<input 
			type="text" 
			placeholder="添加任务，回车执行" 
			v-model="todo"
			v-on:keyup.enter="addTodo"
			>
		</div>
		<div class="card" v-show="content.length">
			<div class="left"><p>一个任务未完成</p></div>
			<div class="right">
				<div class="active">所有任务</div>
				<div>未完成的任务</div>
				<div>完成的任务</div>
			</div>
		</div>
		<div class="alt" v-show="!content.length"><span>还没有添加任何任务</span></div>
		<div class="foot">
			<h3>任务列表</h3>
			<ul>
				<li v-for="(value,key) in content">
					<input type="checkbox" 
					 :id="value.myinput+key"
					 />
					<label :for="value.myinput+key"></label>
					<p>{{value.title}}</p>
					<p @click="del(key)">X</p>
				</li>
			</ul>
		</div>
	</div>
	<script src="./test.js"></script>	
</body>
</html>